body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4vw;
}

.toolbar {
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 90vw;
    overflow: scroll;
}

.toolbar button, .toolbar input[type="file"] {
    margin-right: 10px;
}

.editor {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 90vw;
    min-height: 60vh;
    margin: 10px;
}

.editor img {
    max-width: 100%;
    height: auto;
}

#download {
    display: none;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-left: 10px;
}

#bold, #italic, #underline, #align-left, #align-center, #align-right, #align-justify, #undo, #redo {
    background-color: transparent;
    border: none;
}


.editor {
    text-align: left;
}

.editor[align="center"] {
    text-align: center;
}

.editor[align="right"] {
    text-align: right;
}

.editor[align="justify"] {
    text-align: justify;
}


/* * {
    border: 2px solid red;
    background-color: rgb(96, 43, 170);
} */