body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    /* background-color: #f0f0f0; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4vw;
}

.toolbar {
    background-color: #fff;
    padding: 10px;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
    display: flex;
    align-items: center;
    width: 90vw;
    overflow: scroll;
    width: 90%;
}

.toolbar button, .toolbar input[type="file"] {
    margin-right: 10px;
}

.editor {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 90vw;
    min-height: 60vh;
    margin: 10px;
}

.editor img {
    max-width: 100%;
    height: auto;
}

#download {
    display: none;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-left: 10px;
}

#bold, #italic, #underline, #align-left, #align-center, #align-right, #align-justify, #undo, #redo {
    background-color: transparent;
    border: none;
}


.editor {
    text-align: left;
}

.editor[align="center"] {
    text-align: center;
}

.editor[align="right"] {
    text-align: right;
}

.editor[align="justify"] {
    text-align: justify;
}


/* * {
    border: 2px solid red;
    background-color: rgb(96, 43, 170);
} */



/* ... (File Dropdown) ... */

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropbtn {
    background-color: transparent;
    font-size: 1rem;
    border-style: none;
    /* border-radius: 3.5px;
    border-width: 1.5px;
    border-color: #333; */
  }
  

  